<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"> </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("PsyhoBot", "BeforeDialog", "Dialog", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Doctors", "Index", "Doctors", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Patients", "Index", "Patients", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Dialogs", "Index", "Dialog", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Questions", "Index", "Questions", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Answers", "Index", "Answers", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Results", "Index", "QuestionsResults", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
