@model WebClientBot.Models.Patient
@{
    ViewBag.Title = "Edit";
}
<br />
<br />
<br />
<div class="form-horizontal">
    <div class="col-sm-6 col-lg-offset-3">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FullName, new { @class = "col-md-2 col-md-offset-2 control-label" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday, new { @class = "col-md-2 col-md-offset-2 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                        @Html.ValidationMessageFor(model => model.Birthday)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnosis, new { @class = "col-md-2 col-md-offset-2 control-label" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                            @Html.ValidationMessageFor(model => model.Diagnosis)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sex, new { @class = "col-md-2 col-md-offset-2 control-label" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                                @Html.ValidationMessageFor(model => model.Sex)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DiseasePeriod, new { @class = "col-md-2 col-md-offset-2 control-label" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DiseasePeriod, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                    @Html.ValidationMessageFor(model => model.DiseasePeriod)
                                </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NormalCondition, new { @class = "col-md-2 col-md-offset-2 control-label" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.NormalCondition, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                    @Html.ValidationMessageFor(model => model.NormalCondition)
                                </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Characteristic, new { @class = "col-md-2 col-md-offset-2 control-label" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Characteristic, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                    @Html.ValidationMessageFor(model => model.Characteristic)
                                </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DoctorId, new { @class = "col-md-2 col-md-offset-2 control-label" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DoctorId, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                    @Html.ValidationMessageFor(model => model.DoctorId)
                                </div>
                            <div class="form-group">
                                <center><input type="submit" value="Submit" class="btn btn-info" />
                                <input type="reset" value="Reset" class="btn btn-warning" /></center>
                            </div>
                            }
                        </div>
    </div>

