<br />
<br />
<br />
<center>@Html.ActionLink("Add Doctor", "Add", "Doctors", new { @class = "btn btn-success btn-lg" })</center>
<br />
<table class="table table-hover">
    <tr>
        <th class="active">ID</th>
        <th class="active">FullName</th>
        <th class="active">Birthday</th>
        <th class="active">Sex</th>
        <th class="active">Category</th>
        <th class="active">Characteristic</th>
        <th class="active"></th>
        <th class="active"></th>
    </tr>
    @foreach (var d in ViewBag.result)
    {
        <tr>
            <th>@d.Id</th>
            <th>@d.FullName</th>
            <th>@d.Birthday</th>
            <th>@d.Sex</th>
            <th>@d.Category</th>
            <th>@d.Charasteristic</th>
            <th>
                @using (@Html.BeginForm("Delete", "Patients", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@d.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
            </th>
            <th>
                @using (Html.BeginForm("Edit", "Patients", FormMethod.Get))
                {
                    <input type="hidden" name="id" value="@d.Id" />
                    <input type="submit" value="Edit" class="btn btn-info" />
                }
            </th>
        </tr>
    }
</table>
<br />
